# -*- perl -*-
# Mynch configuration
#
# Edit this file, and save as "mynch.conf"
#
# Configuration format, see Mojolicious::Plugin::Config
#
# Keys:
#
# "ml": Parameters for Monitoring::Livestatus->new()
#       can be split into two named sets of parameters, "read" and "write" if you need this (for mirrored ack/comment status, etc)
#
# "htmurl" and "cgiurl", same meaning as in nagios/icinga setup
#
# "secret": Used by mojolicious to sign the session cookie
#
# "plugins": Used to load other mojo plugins.
#
# "filters": Suppression filters for various screens, 'service-noise' suppresses noisy services in wallscreen and dashboard,
#   'hide-hostgroups' is intended for hiding all-encompassing hostgroups and such

{
    secret => '7f007b50-e7ed-49be-884a-6f1924e69515',

    plugins => [ { name => 'PODRenderer', } ],

    filters => {
        'service-noise' => [
            { column => 'plugin_output', output => 'UNKNOWN: Out to lunch, no current data' },
            { column => 'display_name', output => 'Noisy non-critical service check' },
        ],
        'hide-hostgroups' => [ 'hide-me', 'hide-me-too' ],
    },

    htmurl => 'http://nagios.example.org/icinga/',
    cgiurl => 'http://nagios.example.org/icinga/cgi-bin/',

# easy config
    ml => {
        peer => [
            {
                name => 'remote mk-livestatus socket',
                peer => 'nagios.example.org:6557'
            },
        ]
    },

# complex config, split in read and write
#    ml => {
#        read => {
#            peer => [
#                {
#                    name => 'remote mk-livestatus socket',
#                    peer => 'nagios.example.org:6557',
#                },
#            ]
#        },
#        write => {
#            peer => [
#                {
#                    name => 'remote mk-livestatus socket',
#                    peer => 'nagios.example.org:6557',
#                },
#                {
#                    name => 'secondary icinga',
#                    peer => 'icinga-failover.example.org:6558',
#                },
#            ]
#        }
#    },

};
